@page "/chat-list"
@using Chat.SampleApp.Components
@using Chat.SampleApp.Models
@inject IChatRoomService ChatRoomService
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<div class="wrapper">
    <ul>
        @foreach (var chatRoom in _chatRoomList)
        {
            <li @onclick=@(() => ChatListOnClick(chatRoom.Id))>
                <div class="body">
                    <div class="title">@chatRoom.Title</div>
                    <div class="message">
                        @if (string.IsNullOrEmpty(chatRoom.LastMessage))
                        {
                            <span></span>
                        }
                        else
                        {
                            <span>@chatRoom.LastMessage</span>
                        }
                    </div>
                </div>
                <div class="timestamp">@chatRoom.Timestamp.ToString("HH:mm")</div>
            </li>
        }
    </ul>
</div>
<Dialog @ref=@_ref />
@code {
    [SupplyParameterFromQuery(Name = "user-id")]
    public Guid UserId { get; set; }

    private List<ChatRoom> _chatRoomList = new List<ChatRoom>();

    private Dialog _ref = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (await _ref.ShowAsync("Confirm", "This is chat app. Please confirm our notifications."))
            {
                string token = await JSRuntime.InvokeAsync<string>("firebaseMessaging.requestPermission");
                await UserService.AppendFCMTokenAsync(UserId, token);
            }
            else
            {
                await _ref.ShowAsync("Oh no", "Can not sending notification you...");
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        _chatRoomList.Clear();
        await foreach (var chatRoom in ChatRoomService.GetChatRoomListAsync(UserId))
        {
            _chatRoomList.Add(chatRoom);
        }
    }

    private void ChatListOnClick(Guid chatId)
    {
        NavigationManager.NavigateTo($"chat-room/?chat-room-id={chatId}&user-id={UserId}");
    }
}