@page "/chat-list"
@using Chat.SampleApp.Models
@inject IChatRoomService ChatRoomService
<div>@UserId</div>
<div>Chat list</div>
<ul>
    @foreach (var chatRoom in _chatRoomList)
    {
        <li>
            <div>@chatRoom.Title</div>
            <div>@chatRoom.LastMessage</div>
            <div>@chatRoom.Timestamp</div>
        </li>
    }
</ul>
@code {
    [SupplyParameterFromQuery(Name = "user-id")]
    public Guid UserId { get; set; }

    private List<ChatRoom> _chatRoomList = new List<ChatRoom>();

    protected override async Task OnInitializedAsync()
    {
        await foreach (var chatRoom in ChatRoomService.GetChatRoomListAsync(UserId))
        {
            _chatRoomList.Add(chatRoom);
        }
    }
}